<section class="content">
  <div class="container-fluid">

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" routerLink="main">Home</a></li>
              <li class="breadcrumb-item active">Landing</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <!-- Testing -->
    <div>
      <div class="row">
        <div class="col-md-6 col-lg-3 column">
          <div class="card gr-1">
            <div class="txt">
              <h1>PRODUCTION <br>MANAGEMENT</h1>
              <p>Production planning and scheduling</p>
            </div>
            <a href="#">more</a>
            <div class="ico-card">
              <i class="fas fa-cubes fa-xs"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 column">
          <div class="card gr-2">
            <div class="txt">
              <h1>INSTALLATION <br>MANAGEMENT</h1>
              <p>Installation Management and scheduling.</p>
            </div>
            <a href="#" routerLink="installation">more</a>
            <div class="ico-card">
              <i class="fas fa-tools fa-xs"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 column">
          <div class="card gr-3">
            <div class="txt">
              <h1>DISPATCHING <br>MANAGEMENT</h1>
              <p>Management of modules for dispatch.</p>
            </div>
            <a href="#">more</a>
            <div class="ico-card">
              <i class="fas fa-dice-d20 fa-xs"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 column">
          <div class="card gr-4">
            <div class="txt">
              <h1>EMPLOYEE <br>MANAGEMENT</h1>
              <p>Attendance Records and etc.</p>
            </div>
            <a href="#">more</a>
            <div class="ico-card">
              <i class="fas fa-users-cog fa-xs"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testing -->
  </div>
</section>