<section class="content">
    <div class="container-fluid">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Installation</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" routerLink="main">Home</a></li>
                            <li class="breadcrumb-item active">installation</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <div>
            <!-- <app-loader></app-loader> --> 
            <div class="card">
              <p-tabView>
              <p-tabPanel header="Header 1"> Content 1 </p-tabPanel>
              <p-tabPanel header="Header 2">
                  <ng-template pTemplate="content"> Complex Content to Lazy Load </ng-template>
              </p-tabPanel>
              <p-tabPanel header="Header 3">
                  <ng-template pTemplate="content"> Complex Content to Lazy Load </ng-template>
              </p-tabPanel>
              </p-tabView>
            </div>                   
        </div>

    </div>

</section>